{% extends 'partials/base.html' %}

{% load static %}

{% block head %}
<title>Exemplos</title>
{% endblock%}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Consulta CNPJ</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-desc">
                            <p class="card-text">Realiza uma consulta da situação cadastral de Pessoas Jurídicas.</p>
                        </div>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="window.location.href = '/consulta_cnpj';">Ver</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Consulta CPF</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-desc">
                            <p class="card-text">Realiza uma consulta da situação cadastral de Pessoas Físicas.</p>
                        </div>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="window.location.href = '/consulta_cpf';">Ver</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Não Disponível</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-desc">
                            <p class="card-text">Em Breve novos serviços!.</p>
                        </div>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="window.location.href = '/#';">Ver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}            
<script>
    function clickConsulta(){
        let cnpj = document.getElementById('cnpj').value;
        if (cnpj != ('', undefined) && isCNPJ(cnpj)){
            consultarCnpj(cnpj);
        }
    }
</script>
{% endblock %}