<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-3 border-top">
    <div class="col-md-5 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="text-muted">© {% now "Y" %} - José Eduardo Ferreira - Desenvolvedor FullStack</span>
    </div>
    <ul id="media-social" class="nav col-md-4 justify-content-end list-unstyled d-flex px-3">
        <li class="ms-3">
            <a class="text-muted" target="new_blank" href="https://www.linkedin.com/in/eduardo-ferreira-bb5981124/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/JEduardoFerreira">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://www.instagram.com/joseduferreira/">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://www.facebook.com/eduardo.ferreira.5015/" target="new_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
    </ul>
</footer>